@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3 Assignment";
}



<h1>Brayden Buhler</h1>
<p>
    What I hope to take away from this class is learning more about the proper structure for website development.
    During Intex I was able to figure out how to get what I needed working, but I knew that what I was doing was more
    complicated than it had to be and that it would not scale well.  I hope to learn how to not only get things barely
    working but how to create things effeciently and correctly.
</p>

<p>Jobs I am interest in after graduation</p>
<ol>
    <li>Backend web development</li>
    <li>Cyber Security</li>
    <li>Fullstack web development (If I ever figure out how Flexbox layout works) </li>
</ol>

<img src="img/Cute Ridge Picture.PNG" />

